

.email1
    {
        font-family:Verdana;
        font-size:18px;
        width:300px;
        height:25px;
        border:solid 1px #808080;
    }
.username1
    {
        font-family:Verdana;
        font-size:18px;
        width:180px;
        height:25px;
        border:solid 1px #808080;
    }

.imgProducto
{
    margin-right:10px;
    margin-bottom:10px;
}

.Aviso
{
	font-size: 11px;
	font-family: Verdana;
	font-weight:normal ;
	color:Red;
    vertical-align:middle;
}

.AvisoVerde
{
	font-size: 11px;
	font-family: Verdana;
	font-weight:normal ;
	color:Green;
    vertical-align:middle;
}

.Titulo
{
	font-weight: bold;
	font-size: 14px;
	color:Black;
	font-family:Verdana;
}

#titulo{
	font-size:16px;
	color:#323B96;
	border-bottom:#323B96 solid 2px;
	margin-bottom:5px;
}


#ctl00_ContentPlaceHolder1_titulo{
	font-size:16px;
	color:#323B96;
	border-bottom:#323B96 solid 2px;
	margin-bottom:5px;
}

.SubTitulo
{
	font-weight: bold;
	font-size: 12px;
	color:Black;
	font-family: Verdana;
}
.Etiqueta
{
	font-weight:bold;
	font-size: 12px;
	font-family: Verdana;
	color:Gray;
}
.Datos
{
	font-size: 10px;
	font-family: Verdana;
	font-weight:normal;
	color:Navy;
}
#informacion{
	margin:10px 0px;
	padding:10px;
	background-image:url(../images/back-info.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
	
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
}

#fondoDG{
	background-image:url(../images/backg-dg.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
	height:100%;
	
	
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
	
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
	
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
	
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
}

#informacionPie{
	margin:0px 0px;
	padding:10px;
	background-image:url(../images/back-info.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
	
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
}

#informacionLogin{
	margin:0px 0px;
	padding:10px;
	background-image:url(../images/back-login.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
	
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
}

.tituloCampo
{
    text-align:left;
    font-family:Verdana;
    font-size:16px;
    height:25px;
}

.cajaTexto
{
    text-align:left;
    font-family:Verdana;
    font-size:18px;
}

.Categ
{
    font-weight:bold;
}

.precio
{
    font-size:16px;
    color:#323B96;
    font-weight:bold;
}

/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/
#slider-wrapper {
    background:url(images/slider.png) no-repeat;
    width:980px;
    height:400px;
    margin:0 auto;
    padding-top:0px;
    margin-top:0px;
}

#slider {
	position:relative;
    width:980px;
    height:400px;
    margin-left:0px;
	background:url(images/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:10px;
	bottom:10px;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}